.navbar-lrm {
    background-color: #FFF;
    border-bottom: $navbar-lrm-height solid $navbar-lrm-color;
    font-size: 1rem;

    .form-control {
        width: 100%;
    }

    &::after {
		background-color: $brand-color-light;
		content: '';
		height: 320px;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: -1;
	}

    .nav-item {
        &.active {
            position: relative;

            @include media-breakpoint-up(md) {
                &::after {
                    border-bottom: $navbar-lrm-stamp-size solid $navbar-lrm-color;
                    border-left: $navbar-lrm-stamp-size solid transparent;
                    border-right: $navbar-lrm-stamp-size solid transparent;
                    content: '';
                    left: 50%;
                    opacity: 1;
                    position: absolute;
                    top: $navbar-lrm-stamp-top;
                    transform: translateX(-50%);
                    transition: all 0.35s ease;
                }

                &.out::after {
                    opacity: 0;
                    top: 230%;
                }
            }
        }

        .lfr-nav-child-toggle {
            @include media-breakpoint-down(sm) {
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 2px 8px;
                position: absolute;
                right: 0;
            }
        }

        .dropdown-menu > li > a {
            &:hover, &:focus {
                background-color: $brand-color-light;
            }
        }
                
        .lexicon-icon {
            padding: 3px;
        }
    }
}