.search-toggle {
    background-color: #FFF;
    border-bottom: $navbar-lrm-height solid $navbar-lrm-color;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    .form-group {
        display: flex;
        margin-bottom: 0;
    }

    .portlet-search {
        .lfr-ddm-field-group-inline {
            display: none;
        }
    }
}

.btn-search {
	.icon-lens {
		display: none;
    }

    .icon-times {
        display: inline-block;
    }

	&.collapsed {
		.icon-lens {
			display: inline-block;
		}

		.icon-times {
			display: none;
		}
	}
}