.navbar-lrm {
    background-color: #FFF;
    border-bottom: $navbar-lrm-height solid $navbar-lrm-color;

    &::after {
		content: '';
		position: absolute;
		height: 320px;
		background-color: $brand-color-light;
		top: 100%;
		left: 0;
		right: 0;
		z-index: -1;
	}

	.nav-item.active {
		position: relative;

		@media (min-width: 767px) {
			&::after {
				content: '';
				position: absolute;
				opacity: 1;
				transition: all 0.35s ease;
				left: 50%;
				top: $navbar-lrm-stamp-top;
				transform: translateX(-50%);
				border-left: $navbar-lrm-stamp-size solid transparent;
				border-right: $navbar-lrm-stamp-size solid transparent;
				border-bottom: $navbar-lrm-stamp-size solid $navbar-lrm-color;
			}

			&.out::after {
				top: 230%;
				opacity: 0;
			}
		}
	}

	.form-control {
		width: 100%;
	}
}

.search-toggle {
    background-color: #FFF;
    border-bottom: $navbar-lrm-height solid $navbar-lrm-color;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    .form-group {
        display: flex;
        margin-bottom: 0;
    }

    .portlet-search {
        .lfr-ddm-field-group-inline {
            display: none;
        }
    }
}

.btn-search {
	.icon-lens {
		display: none;
    }

    .icon-times {
        display: inline-block;
    }

	&.collapsed {
		.icon-lens {
			display: inline-block;
		}

		.icon-times {
			display: none;
		}
	}
}