$brand-color: #84B816;
$brand-color-light: #E5ECE0;


$navbar-lrm-color: $brand-color;
$navbar-lrm-height: 4px;
$navbar-lrm-stamp-size: 12px;
$navbar-lrm-stamp-top: 95%;

$cards-grid-gutter-width: 24px !default;

$cards-per-line: (
	xs: 1,
	sm: 2,
	md: 2,
	lg: 4,
	xl: 4
);